<h1>YO DIS B <%= @user.name %></h1>

<h2>Decks:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    <% @decks.each do |d| %>
        <tr>
            <td><%= d.name %></td>
            <td><%= d.description %></td>
            <td>
                <% if current_user?(@user) %>
                    <%= link_to "Delete", 
                        deck_path(d), \
                        method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
                <%= link_to "Show", deck_path(d) %>
            </td>
        </tr>
    <% end %>
</table>
<% if current_user?(@user) %>
    <%= link_to "Deck Maker", new_deck_path, class: "button" %>
<% end %>
