<h1><%= @user.name %>'s Vault</h1>
<div class="large-3 columns">
    <div class="section-container accordion" data-section="accordion">
        <section> <p class="title">Decks</p> </section>
        <% @decks.each do |d| %>
            <% if d.private and !current_user?(@user) %>
                <% next %>
            <% end %>
            <section> 
                <p class="title"><%= link_to d.name, deck_path(d), remote: true %></p>
                <% if current_user?(@user) %>
                    <div class="content" data-section-content>
                    <ul class="button-group radius">
                        <li><%= link_to "Edit", edit_deck_path(d), class: "button" %></li>
                        <li><%= link_to "Delete", 
                            deck_path(d), method: :delete, confirm: "Are you sure?", 
                            class: "button alert" %></li>
                    </ul>
                    </div>
                <% else %>
                    <div data-section-content></div>
                <% end %>
            </section>
        <% end %>
    </div>
    <% if current_user?(@user) %>
        <%= link_to "Deck Editor", new_deck_path, class: "button" %>
    <% end %>
</div>
<div class="large-9 columns">
    <%= render 'partials/view_deck' %>
</div>
