<%= form_for(@deck, url: path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :content %>
    <%= f.text_field :content, id: "deck-input"%>
    <%= f.hidden_field :num_cards %>
    <div id='deck-div' contenteditable> </div>
<% end %>
<button type="button" id="save-deck">Save</button>
