<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">View</a></p>
    <div class="content" data-section-content>
        <%= form_for :card, url: query_card_path, html: { id: "generate-form" } do |f| %>
            <%= f.hidden_field :unique, value: true%>
            <%= f.submit :Build, class: "button large" %>
        <% end %>
        <p>Found <span id="count">0</span> cards</p>
        <div id = "deck-preview"></div>
        <div class="clear"> </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Search</a></p>
    <div class="content" data-section-content>
        <%= form_for :card, url: query_card_path, html: { id: "search-form" } do |f| %>
            <div class="small-1 columns">
                <label for="card[name]"><img src="/assets/icons/search.png" alt="search" /></label>
            </div>
            <div class="small-11 columns">
                <%= f.text_field :name %>
            </div>
        <% end %>
        <div id="pagination-container"></div>
        <table id="list-cards"> </table>
    </div>
  </section>
    <div class="large-9 columns large-offset-5">
        <img id="preview"/>
    </div>
</div>
