<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">View</a></p>
    <div class="content" data-section-content>
        <%= form_for :card, url: query_card_path, html: { id: "generate-form" } do |f| %>
            <%= f.hidden_field :unique, value: true%>
            <%= f.submit "Generate", class: "button" %>
        <% end %>
        <div id = "deck-preview"></div>
        <div class="clear"> </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Search</a></p>
    <div class="content" data-section-content>
        <h2>Card Search</h2>
        <%= form_for :card, url: query_card_path, html: { id: "search-form" } do |f| %>
            <%= f.text_field :name %>
        <% end %>
        <table id="list-cards"> </table>
    </div>
  </section>
    <div class="large-9 columns large-offset-5">
        <img id="preview"/>
    </div>
</div>
