<div class="panel">
    <h2>Deck Info: <%= @deck.name %></h2>
</div>

<% if current_user?(@deck.user) %>
    <div class="large-5 columns">
        <%= form_for(@deck, url: deck_path) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <%= f.label :content %>
            <%= f.text_area :content, class: "deck-input"%>
            <%= f.submit "Save", class: "button" %>
        <% end %>
    </div>
<% else %>
    <p>Description: <%= @deck.description %></p>
    <div class="panel">
        <%= @deck.content %>
    </div>
<% end %>
